* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

.img {
  display: block;
  width: 400px;
  margin: 30px auto;
  box-shadow: 4px 4px 12px rgba(161, 39, 63, 0.397);
  box-shadow: 0 20px 40px -14px;
}

.box {
  width: 100px;
  height: 100px;
  margin: 30px;
  background: steelblue;
  //box-shadow: horizontal vertical blur spread color;
  //box-shadow: 100px 100px 0 0 crimson, 100px 0 darkblue, 0 100px darkgoldenrod;
  //box-shadow: 3px 3px 10px 2px crimson;
}

.card {
  width: 300px;
  padding: 0 0 30px;
  margin: 30px auto;
  border-radius: 5px;
  box-shadow: 5px 6px 11px 0px rgba(20, 18, 20, 0.75);
}

.img2 {
  width: 100%;
  border-radius: 5px 5px 0 0;
  height: 180px;
  object-fit: cover;
  display: block;
}

.contenedor {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  color: #a60909;
  text-align: center;
  margin: 20px 0 10px;
}

.copy {
  text-align: center;
}

.cta {
  display: block;
  background: #a60909;
  padding: 13px 0;
  color: white;
  border-radius: 5px;
  text-align: center;
  width: 150px;
  margin: 0 auto;
  margin-top: 20px;
  text-decoration: none;
}

.goku {
  display: block;
  width: 350px;
  margin: 30px auto;
  //drop-shadow(x y blur color)
  filter: drop-shadow(0 0 20px gold);
}

.spiderman {
  filter: drop-shadow(0 0 20px crimson);
}
