* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  background: orangered;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-top: 40px;

  border: 1px solid black;
  //border-width: top right bottom left;
  //border-width: 20px;
  //border-style: groove dashed;
  //border-color: steelblue crimson;
  border-top: 10px solid brown;
  border-right: 5px dashed white;
  border-bottom: 8px double black;
  border-left: 8px dotted steelblue;
}

.card {
  margin: 20px auto;
  width: 400px;
  padding: 20px 0;
  border: 1px solid black;
}

.img {
  display: block;
  width: 200px;
  height: 200px;
  margin: 20px auto;
  border: 20px groove brown;
  border-radius: 50px 5px;
  border-radius: 50%;
  object-fit: cover;
}

.name {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.cta {
  display: block;
  width: 150px;
  background: crimson;
  padding: 15px 0;
  border-radius: 3px;
  text-decoration: none;
  text-align: center;
  color: white;
  margin: 20px auto;
}
