@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
@import 'mixins';
@import 'normalize';

:root {
  --color-price: #26293a;
  --color-features: #797373;
  --color-boton: white;
  --color-active: #5175ff;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
}

.card {
  display: flex;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(360deg, var(--color-price) 50%, #fff 50%);

  @include breakpoint-down(small) {
    flex-direction: column;
    gap: 23px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  &__item {
    max-width: 350px;
    width: 30%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    border-radius: 8px;
    align-items: center;
    min-height: 450px;

    @include breakpoint-down(small) {
      width: 90%;
    }

    &--active {
      --color-price: white;
      --color-features: white;
      --color-boton: #26293a;
      background: var(--color-active);
      color: white;
    }
  }

  &__plan {
    color: var(--color-price);
    font-weight: bold;
    font-size: 1.2rem;
  }

  &__price {
    font-size: 3rem;
    color: var(--color-price);
  }

  &__features {
    color: var(--color-features);
    margin: 30px 0 50px;
  }

  &__caracteristica {
    color: var(--color-features);
    margin-bottom: 20px;

    &:nth-last-child(1) {
      margin-bottom: 50px;
    }
  }
}

.cta {
  display: inline-block;
  background: var(--color-price);
  color: var(--color-boton);
  width: 190px;
  text-align: center;
  font-size: 1rem;
  border-radius: 40px;
  padding: 20px 0;
  text-decoration: none;

  &--destacado {
    background: white;
    color: var(--color-boton);
  }
}
